@use './globals' as *;

* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}

.container {
	height: 100vh;
	display: flex;
	overflow: auto;
	gap: 20px;
	padding: 20px;
}

@media(max-width: 768px) {
	.container {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}
}

::-webkit-scrollbar {
	width: 4px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: $text-color-white;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: $text-color-light-grey;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: $text-color-dark-grey;
}

::-webkit-scrollbar-corner {
	background: $text-color-white;
}

.leaflet-popup-content-wrapper {
	background-color: $text-color-white;
	;
	border-radius: 12px;
	box-shadow: $button-shadow;
}

.leaflet-popup-content {
	margin: 0;
	padding: 20px;
	line-height: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px
}

.leaflet-popup-tip {
	background-color: $button-shadow;
}

.leaflet-popup-close-button {
	color: $text-color-dark-grey;
	font-size: 18px;
}