@use './globals' as *;

.container {
	width: 80%;
}

.popup {
	&_name {
		@include text-title;
	}

	&_address {
		@include text-small;
		color: $text-color-dark-grey;
		line-height: 130%;
	}

	&_status {
		@include text-small;
		color: $text-color-dark-grey;
	}

}

@media(max-width: 768px) {
	.container {
		width: 100%;
		height: 500px;
		border-bottom: $border;
	}
}